body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; }
  body table.borderless th {
    border: none;
    text-align: center; }
    body table.borderless th .changeMonth {
      cursor: pointer; }
  body table.borderless .weekday {
    text-align: center; }
